%nav.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{:href => "/admin/main"} Rent A Car Control Panel1
  .collapse.navbar-collapse.navbar-ex1-collapse
    %ul.nav.navbar-nav.side-nav
      %li
        %a{:href => "/admin/main"}
          %i.fa.fa-dashboard
          Dashboard
      %li
        %a{:href=> "javascript:;", "data-toggle"=> "collapse" , "data-target"=>"#members"}
          %i{:class=>"fa fa-fw fa-user"}
          Members
          %i{:class=>"fa fa-fw fa-caret-down"}
        %ul{:id => "members", :class=>"collapse"}
          %li
            %a{:href=>"/admin/members"} View Members
          %li
            %a{:href=>"/admin/changeMember"} Change Member
          %li
            %a{:href=>"/admin/deleteMember"} Delete Member
      %li
        %a{:href=> "javascript:;", "data-toggle"=> "collapse" , "data-target"=>"#cars"}
          %i{:class=>"fa fa-fw fa-car"}
          Cars
          %i{:class=>"fa fa-fw fa-caret-down"}
        %ul{:id => "cars", :class=>"collapse"}
          %li
            %a{:href=>'/admin/cars'} View Cars
          %li
            %a{:href=>'/admin/addCar'} Add Car
          %li
            %a{:href=>"/admin/changeCar"} Change Car
          %li
            %a{:href=>"/admin/changeStock"} Change Stock
          %li
            %a{:href=>"/admin/deleteCar"} Delete Car
      %li
        %a{:href => "/admin/rentals"}
          %i.fa.fa-tasks
          Rentals
      %li
        %a{:href => "options.php"}
          %i.fa.fa-edit
          Options
    %ul.nav.navbar-nav.navbar-right.navbar-user
      %li.dropdown.user-dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          %i.fa.fa-user
          =session[:full_name]
          %b.caret
        %ul.dropdown-menu
          %li
            %a{:href => "..", :target => "_blank"}
              %i.fa.fa-home
              Home
          %li.divider
          %li
            %a{:href => "options.php"}
              %i.fa.fa-gear
              Options
          %li.divider
          %li
            %a{:href => admin_logout_path}
              %i.fa.fa-power-off
              Log Out