=render "common"
#page-wrapper
  .row
    .col-lg-12
      %h1
        Cars
      .alert.alert-info.alert-dismissable
        %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
        Welcome to Cars Page
  .row
    .col-lg-12
      %h3 All Cars
      %table.table.table-bordered.table-hover.tablesorter
        %thead
          %tr
            %th ID
            %th Title
            %th Make
            %th Model
            %th Year
            %th Color
            %th Fuel
            %th Hp
            %th Price
            %th Stock
        %tbody
          %tr.popimg{"data-img" => "http://www.burakcolak.com.tr/rentacar/images/maxima.png", "data-original-title" => "", :rel => "popover", :title => ""}
            %td 8
            %td Nissan
            %td Nissan
            %td Maxima
            %td 2013
            %td Silver
            %td Diesel
            %td 240
            %td 45
            %td 0
  %p.clear