=render "common"
#page-wrapper
  .row
    .col-lg-12
      %h1
        Cars
        %small
      .alert.alert-info.alert-dismissable
        %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
        Welcome to Cars Page
  .row
    .col-lg-10
      %h3 Change Car
      %form{:action => "/admin/changeCarComplete", :method => "post", :role => "form"}
        %input{name: "authenticity_token", type: "hidden", value: session[:_csrf_token]}
        .form-group
          %label ID
          %input.form-control{:name => "car_id", :placeholder => "Enter ID"}
        .form-group
          %label Image URL
          %input.form-control{:name => "car[url]", :placeholder => "Enter URL"}
        .form-group
          %label Daily Price
          %input.form-control{:name => "car[price]", :placeholder => "Enter Daily Price"}
        .form-group
          %label Title
          %input.form-control{:name => "car[title]", :placeholder => "Enter Title"}
        .form-group
          %label Make
          %input.form-control{:name => "car[make]", :placeholder => "Enter Make"}
        .form-group
          %label Model
          %input.form-control{:name => "car[model]", :placeholder => "Enter Model"}
        .form-group
          %label Year
          %input.form-control{:name => "car[year]", :placeholder => "Enter Year"}
        .form-group
          %label Color
          %input.form-control{:name => "car[color]", :placeholder => "Enter Color"}
        .form-group
          %label Fuel
          %input.form-control{:name => "car[fuel]", :placeholder => "Fuel Type"}
        .form-group
          %label HP
          %input.form-control{:name => "car[hp]", :placeholder => "Enter HP"}
        %button.btn.btn-default{:name => "submit", :type => "submit"} Update