#wrapper
  %nav.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "index.php"} Rent A Car Control Panel1
    .collapse.navbar-collapse.navbar-ex1-collapse
      %ul.nav.navbar-nav.side-nav
        %li
          %a{:href => "index.php"}
            %i.fa.fa-dashboard
            Dashboard
        %li
          %a{:href => "members.php"}
            %i.fa.fa-user
            Members
        %li.active
          %a{:href => "cars.php"}
            %i.fa.fa-car
            Cars
        %li
          %a{:href => "rentals.php"}
            %i.fa.fa-tasks
            Rentals
        %li
          %a{:href => "options.php"}
            %i.fa.fa-edit
            Options
      %ul.nav.navbar-nav.navbar-right.navbar-user
        %li.dropdown.user-dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %i.fa.fa-user
            Burak1 Çolak1
            %b.caret
          %ul.dropdown-menu
            %li
              %a{:href => "..", :target => "_blank"}
                %i.fa.fa-home
                Home
            %li.divider
            %li
              %a{:href => "options.php"}
                %i.fa.fa-gear
                Options
            %li.divider
            %li
              %a{:href => "logout.php"}
                %i.fa.fa-power-off
                Log Out
  #page-wrapper
    .row
      .col-lg-12
        %h1
          Cars
          %small
        .alert.alert-info.alert-dismissable
          %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
          Welcome to Cars Page
    .row
      .col-lg-3
        %h3 Change Car
        %form{:action => "", :method => "post", :role => "form"}
          .form-group
            %label ID
            %input.form-control{:name => "car_id2", :placeholder => "Enter ID"}/
          .form-group
            %label Image URL
            %input.form-control{:name => "car_url2", :placeholder => "Enter URL"}/
          .form-group
            %label Daily Price
            %input.form-control{:name => "car_price2", :placeholder => "Enter Daily Price"}/
          .form-group
            %label Title
            %input.form-control{:name => "car_title2", :placeholder => "Enter Title"}/
          .form-group
            %label Make
            %input.form-control{:name => "car_make2", :placeholder => "Enter Make"}/
          .form-group
            %label Model
            %input.form-control{:name => "car_model2", :placeholder => "Enter Model"}/
          .form-group
            %label Year
            %input.form-control{:name => "car_year2", :placeholder => "Enter Year"}/
          .form-group
            %label Color
            %input.form-control{:name => "car_color2", :placeholder => "Enter Color"}/
          .form-group
            %label Fuel
            %input.form-control{:name => "car_fuel2", :placeholder => "Fuel Type"}/
          .form-group
            %label HP
            %input.form-control{:name => "car_hp2", :placeholder => "Enter HP"}/
            %button.btn.btn-default{:name => "submit2", :type => "submit"} Update
      .col-lg-6
        %h3 All Cars
        .results
        %button#1-page.btn.btn-default.btn-xs.paginate_click 1
        %button#2-page.btn.btn-default.btn-xs.paginate_click 2
        %p.clear/
        %h3 Change Stock Information
        %form{:action => "", :method => "post", :role => "form"}
          .form-group
            %label ID
            %input.form-control{:name => "car_id4", :placeholder => "Enter ID"}/
          .form-group
            %label Stock
            %input.form-control{:name => "car_stock2", :placeholder => "Enter Stock"}/
          %button.btn.btn-default{:name => "submit3", :type => "submit"} Submit
        %h3 Delete Car
        %form{:action => "", :method => "post", :role => "form"}
          .form-group
            %label ID
            %input.form-control{:name => "car_id3", :placeholder => "Enter ID"}/
            %button.btn.btn-default{:name => "submit4", :type => "submit"} Delete
            / /.row
            / /#page-wrapper
            / /#wrapper