=render "common"
#page-wrapper
  .row
    .col-lg-12
      %h1
        Dashboard
      .alert.alert-success.alert-dismissable
        %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
        Welcome to Rent A Car Control Panel
  .row
    .col-lg-4
      .panel.panel-info
        .panel-heading
          .row
            .col-xs-6
              %i.fa.fa-car.fa-5x
            .col-xs-6.text-right
              %p.announcement-heading
                =Car.ids.count
              %p.announcement-text Car
        %a{:href => "/admin/cars"}
          .panel-footer.announcement-bottom
            .row
              .col-xs-6
                View All Cars
              .col-xs-6.text-right
                %i.fa.fa-arrow-circle-right
    .col-lg-4
      .panel.panel-warning
        .panel-heading
          .row
            .col-xs-6
              %i.fa.fa-user.fa-5x
            .col-xs-6.text-right
              %p.announcement-heading
                = Member.ids.count
              %p.announcement-text Members
        %a{:href => "/admin/members"}
          .panel-footer.announcement-bottom
            .row
              .col-xs-6
                View All Members
              .col-xs-6.text-right
                %i.fa.fa-arrow-circle-right
    .col-lg-4
      .panel.panel-danger
        .panel-heading
          .row
            .col-xs-6
              %i.fa.fa-tasks.fa-5x
            .col-xs-6.text-right
              %p.announcement-heading
                =Rental.ids.count
              %p.announcement-text Rentals
        %a{:href => "/admin/rentals"}
          .panel-footer.announcement-bottom
            .row
              .col-xs-6
                View All Rentals
              .col-xs-6.text-right
                %i.fa.fa-arrow-circle-right