=render "common"
#page-wrapper
  .row
    .col-lg-12
      %h1
        Cars
      .alert.alert-info.alert-dismissable
        %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
        Welcome to Members Page
  .row
    .col-lg-12
      %h3 All Cars
      %table.table.table-bordered.table-hover.tablesorter
        %thead
          %tr
            %th ID
            %th Title
            %th Make
            %th Model
            %th Year
            %th Color
            %th Fuel
            %th Hp
            %th Price
            %th Stock
        %tbody
          -@all_members.each do |car_obj|
            %tr.popimg{"data-img" => "http://www.burakcolak.com.tr/rentacar/images/maxima.png", "data-original-title" => "", :rel => "popover", :title => ""}
              %td
                =car_obj.id
              %td
                =car_obj.title
              %td
                =car_obj.make
              %td
                =car_obj.model
              %td
                =car_obj.year_info
              %td
                =car_obj.color
              %td
                =car_obj.fueltype
              %td
                =car_obj.hp
              %td
                =car_obj.price
              %td
                =car_obj.stock