=render "common"
#page-wrapper
  .row
    .col-lg-12
      %h1
        Cars
      .alert.alert-info.alert-dismissable
        %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
        Welcome to Members Page
  .row
    .col-lg-12
      %h3 All Members
      %table.table.table-bordered.table-hover.tablesorter
        %thead
          %tr
            %th ID
            %th Name
            %th Surname
            %th E-mail
            %th Cell Phone
            %th Birth Date
        %tbody
          -@all_members.each do |member_obj|
            %tr.popimg{"data-img" => "http://www.burakcolak.com.tr/rentacar/images/maxima.png", "data-original-title" => "", :rel => "popover", :title => ""}
              %td
                =member_obj.id
              %td
                =member_obj.fname
              %td
                =member_obj.lname
              %td
                =member_obj.email
              %td
                =member_obj.cellphone
              %td
                =member_obj.birthdate