#container.center-slider.one-column.middle-sidebar
  #branding
    #branding-content
      .title-content
        %a{:href => "index.php", :title => ""}
          %img.site-logo{:alt => "", :src => "/assets/logo.png"}/
        %h1.site-title
          %a{:href => "index.php", :title => ""} {@test}
      .access-content
        %ul
          <?php if($functions?>
          isAdmin()){?>
          %li
            %a{:href => "admins", :target => "_blank", :title => ""} Control Panel
          <?php }?>
          <?php if($functions?>
          isMember()){?>
          %li
            %a{:href => "profile.php", :title => ""} Profile
          <?php }?>
      / .access
      .menus-content
        .member
          <?php if(!isset($_SESSION["email"])){?>
          %span.sign_in
            %a.sign_button.tab_link_button{:href => "#sign_in", :title => ""} Sign in
          %span.register
            %a.sign_button.tab_link_button{:href => "#register", :title => ""} Register
          <?php }else{?>
          %p{:style => "float:right;margin:10px 5px 0 0;"}
            %i.fa.fa-user{:style => "padding-right:3px;"}
            <?php echo $_SESSION["fname"]." ".$_SESSION["lname"];?>
            %br/
            %i.fa.fa-sign-out{:style => "padding-right:3px;"}
            %a{:href => "logout.php"} Logout
          <?php }?>
    / #branding-content
    .clear
  / #branding
  #slider
    #slider-img
      %ul.slides
        %li
          %img{:alt => "Slider 1", :src => "/assets/slider1.jpg"}/
        %li
          %img{:alt => "Slider 3", :src => "/assets/slider3.jpg"}/
      #slider-pattern
    #slider-content
      #slider-post
        .post
          .entry-header
            %h3.entry-format
              <?php echo $functions?>
              getLang("welcome-text");?>
          .entry-content
            <?php echo $functions?>
            getLang("welcome-info");?>
      %form#slider-form.main-form{:action => "choose-car.php", :method => "post"}/
      .main_form_navigation
        #manage_reservation.title-form1.current Create A Request
      #book_car_content.content-form
        .location-block
          .form-block.location Location
          %input.location{:name => "location", :placeholder => "Enter Location", :type => "text", :value => ""}/
        .form-block.pick-up
          %h4 Pick-up date
          %input.datepicker{:name => "date_from", :placeholder => "Click and Select Date", :type => "text"}/
        .form-block.drop-off
          %h4 Drop-off date
          %input.datepicker{:name => "date_to", :placeholder => "Click and Select Date", :type => "text"}/
        .form-block.form-submit
          %input.orange_button.form-continue{:name => "choose_car", :type => "submit", :value => "Choose Car"}/
      .clear
  / #slider
  #main
    .sidebars-area
      %aside.sidebar-left
        <?php if(isset($_SESSION["email"])){?>
        .widget
          .widget-title.special-offers
            %div
              %img{:alt => "", :src => "images/star.png"}/
              Your Last 5 Orders
            .clear
          %table.special-offers-table
            <?php $functions?>
            getRentals();?>
          .widget-footer You can see your rentals
        <?php }?>
        .widget.widget-features
          %h3.widget-title
            %img{:alt => "", :src => "images/lamp.png"}/
            Find Us
          .clear{:style => "padding-bottom:1px"}
          %script{:src => "http://maps.google.com/maps/api/js?sensor=false", :type => "text/javascript"}
          %div{:style => "overflow:hidden;height:250px;width:299px;"}
            #gmap_canvas{:style => "height:250px;width:300px;"}
            :css
              #gmap_canvas img{max-width:none!important;background:none!important}            %a#get-map-data.google-map-code{:href => "http://www.mapsembed.com"} http://www.mapsembed.com
          :javascript
            function init_map(){var myOptions = {zoom:17,center:new google.maps.LatLng(38.581184,26.963882000000012),mapTypeId: google.maps.MapTypeId.SATELLITE};map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(38.581184, 26.963882000000012)});infowindow = new google.maps.InfoWindow({content:"RentaGediz Gediz &Uuml;nv" });google.maps.event.addListener(marker, "click", function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);      .sidebar-middle
        .widget.main-widget
          .widget-title
            %div
              %img{:alt => "", :src => "images/latest.png"}/
              Last 3 Added Cars
            .clear
          <?php while($runStmt &amp;&amp; $row = $stmt?>
          fetch()){
          $title = $row["title"];
          $make = $row["make"];
          $model = $row["model"];
          $year_info = $row["year_info"];
          $image = $row["image"];
          $price = $row["price"];
          ?>
          .post
            .entry-header
              %span
                <?php echo $title;?>
            .entry-content
              %div{:style => "float:left;"}
                %img{:height => "76", :src => "<?php echo $image;?>", :width => "149"}/
              %div{:style => "margin-left:30px;float:left;"}
                %ul
                  %li.lastadded
                    %strong Make:
                    <?php echo $make;?>
                  %li.lastadded
                    %strong Model:
                    <?php echo $model;?>
                  %li.lastadded
                    %strong Year:
                    <?php echo $year_info;?>
                  %li.lastadded
                    %strong Price:
                    <?php echo $price;?>
                    $/day
              .clear
          <?php }?>
      %aside.sidebar-right
        .widget
          %h3.widget-title
            %img{:alt => "lamp", :src => "images/lamp.png"}/
            Social Media
          .widget-content
            %a{:href => "http://www.facebook.com"}
              %img{:alt => "Facebook", :src => "images/fb-social.png"}/
            %a{:href => "http://www.twitter.com"}
              %img{:alt => "Twitter", :src => "images/tw-social.png"}/
            %a{:href => "http://plus.google.com"}
              %img{:alt => "Google Plus", :src => "images/gplus-social.png"}/
            %a{:href => "http://www.linkedin.com"}
              %img{:alt => "Linkedin", :src => "images/in-social.png"}/
            %a{:href => "http://www.skype.com"}
              %img{:alt => "Skype", :src => "images/skype-social.png"}/
        .widget
          %h3.widget-title
            %img{:alt => "", :src => "images/lamp.png"}/
            Car Brands
          %ul
            <?php $query = "select distinct make from cars order by make asc";
            $stmt = $dbConn?>
            prepare($query);
            $runStmt = $stmt->execute();
            $count = 0;
            while($runStmt && $row = $stmt->fetch()){
            $make = $row["make"];
            ?>
            <li class="
            <?php echo $count%2==0?"even":"odd";?>
            ">
            %a{:href => "#", :title => ""}
              <?php echo $make;?>
            <?php $count++;
            }?>
      .clear
  .clear
%footer#footer
  #footer-menu.footer-content
    .widget-area
      .clear
      .footer-widget-single
        %h3{:style => "color:#444c57"}
          %img{:alt => "star", :src => "images/star.png", :style => "padding-right:6px;"}>/
          Latest News From Our Blog
        %div{:style => "width:360px;padding-top:5px;"}
          %ol
            <?php $dbConn = $this?>
            openConnection();
            $query = "select guid,post_title from wp_posts where post_status = :post_status and post_type = :post_type order by id desc limit 3";
            $stmt = $dbConn->prepare($query);

            $runStmt = $stmt->execute(array(
            ':post_status'=>"publish",
            ':post_type'=>'post'
            ));

            if($runStmt){
            while($row = $stmt->fetch()){
            ?>
            %li
              <a target="_blank" href="
              <?php echo $row["guid"];?>
              ">
              <?php echo $row["post_title"];?>
            <?php }
            }
            ?>
      .recent_tweets.footer-widget-single
        %h3 Recent tweets
        .recent_tweets_content
          %a{:href => "<?php echo 'https://www.twitter.com/'.$screen_name;?>", :target => "_blank", :title => ""}
            @
            <?php echo $screen_name;?>
          <?php echo $latest;?>
        .recent_tweets_url
          %a{:href => "<?php echo $expanded_url;?>", :target => "_blank", :title => ""}
            <?php echo $expanded_url;?>
      .support.footer-widget-single
        %img{:alt => "", :src => "images/support-icon.png"}/
        .title Online support
        .phone
          <?php echo $this?>
          getLang('contact_phone');?>
        .email
          %a{:href => "mailto:<?php echo $this->getLang('contact_email');?>", :title => "Contact Us"}
            <?php echo $this?>
            getLang('contact_email');?>
      .clear
  / #footer-content
  #footer-content
    %img.site-logo{:alt => "", :src => "images/logo.png"}/
    %h1.site-title
      <?php echo $this?>
      getLang('title');?>
    .company-name
      <?php echo $this?>
      getLang("footer_text");?>
  / #footer-content
/ end:footer
/ end:container
#overlay_block
.admin-form-content.sign_register_block
  .admin-form-block
    %form.main-form.admin-form{:action => "login.php", :method => "post"}/
    .main_form_navigation
      #tab_register.title-form.back
        %span.register
          %a{:href => "#register", :title => ""} Register
      #tab_sign_in.title-form.current
        %span.sign_in
          %a{:href => "#sign_in", :title => ""} Sign In
    #tab_sign_in_content.content-form
      %div
        %input#sign_in_email.input_placeholder{:maxlength => "30", :name => "email", :placeholder => "Email address", :type => "text"}/
      %div
        %input#sign_in_pass{:maxlength => "40", :name => "password", :placeholder => "Password", :type => "password"}/
      %input.admin-form-submit.orange_button{:name => "login", :type => "submit", :value => "Login"}/
      .admin_form_link
        %span.forgot_passwd
          %a.tab_link_button{:href => "#forgot_passwd", :title => ""} Forgot password?
    #tab_register_content.content-form.hidden
      %div
        %input#register_email.input_placeholder{:maxlength => "30", :name => "register_email", :placeholder => "Email address", :type => "text", :value => ""}/
      %div
        %input#register_name{:maxlength => "30", :name => "register_fname", :placeholder => "First Name", :type => "text"}/
      %div
        %input#register_name{:maxlength => "30", :name => "register_lname", :placeholder => "Last Name", :type => "text"}/
      .bdate_icon
        %i.fa_bdate.fa.fa-calendar
        %input.datepicker{:maxlength => "10", :name => "register_bdate", :placeholder => "Birth Date", :type => "text"}/
      .bdate_icon{:style => "float:left;margin:10px 0;"}
        %i.fa_bdate.fa.fa-phone-square
        %input{:maxlength => "11", :name => "register_phone", :placeholder => "Cell Phone", :type => "text"}/
      %div
        %input#sign_in_pass{:maxlenght => "40", :name => "register_password", :placeholder => "Password", :type => "password"}/
      %input.admin-form-submit.orange_button{:name => "register", :type => "submit", :value => "Register"}/
      .admin_form_link
        %span.sign_in
          %a.tab_link_button{:href => "#sign_in", :title => ""} Already registered?
    .clear
.admin-form-content.forgot_passwd_block
  .admin-form-block
    %form.main-form.admin-form{:action => "index.php", :method => "post"}/
    .main_form_navigation
      #tab_forgot_passwd.title-form.current Forgot Password?
    #tab_forgot_passwd_content.content-form
      %input#forgot_pass_email.input_placeholder{:name => "forgot_pass_email", :placeholder => "Email address", :type => "text", :value => ""}/
      #forgot_pass_text We will send you the password in few minutes.
      %input.admin-form-submit.orange_button{:name => "forgot_submit", :type => "submit", :value => "Continue"}/
      .admin_form_link
        %span.sign_in
          %a.tab_link_button{:href => "#sign_in", :title => ""} Sign In
    .clear