%body.center-slider.one-column.middle-sidebar
  - if flash["login_success"]
    %script{:type=>"text/javascript"}
      alert("Login success");
  - if flash["payment_success"]
    %script{:type=>"text/javascript"}
      alert("Payment operation success");
  - if flash["login_error"]
    %script{:type=>"text/javascript"}
      alert("Login error");
  - if flash["empty_error"]
    %script{:type=>"text/javascript"}
      alert("All fields must be filled");
  - if flash["date_error"]
    %script{:type=>"text/javascript"}
      alert("Dates are invalid");
  - if flash["member_complete"]
    %script{:type=>"text/javascript"}
      alert("You signed up successfully");
  =render :partial => 'general/header'
  =render :partial => 'general/slider'
  #main
    .sidebars-area
      %aside.sidebar-left
        .widget
          .widget-title.special-offers
            %div
              %img{:alt => "", :src => "assets/star.png"}
              Your Latest Orders
            .clear
          %table.special-offers-table
            -@rentals.each do |rental_obj|
              -if @index%2==0
                %tr.odd
                  %th
                    =rental_obj.location
                  %td
                    =rental_obj.pickupdate.strftime("%d/%m/%Y")
                    = "-"
                    =rental_obj.dropoffdate.strftime("%d/%m/%Y")
              -else
                %tr.even
                  %th
                    =rental_obj.location
                  %td
                    =rental_obj.pickupdate.strftime("%d/%m/%Y")
                    = "-"
                    =rental_obj.dropoffdate.strftime("%d/%m/%Y")
              -@index += 1
          .widget-footer You can see your rentals
        .widget.widget-features
          %h3.widget-title
            %img{:alt => "", :src => "assets/lamp.png"}
            Find Us
          .clear{:style => "padding-bottom:1px"}
      .sidebar-middle
        .widget.main-widget
          .widget-title
            %div
              %img{:alt => "", :src => "assets/latest.png"}
              Last 3 Added Cars
            .clear
          -@cars.each do |car_obj|
            .post
              .entry-header
                %span
                  =car_obj.title
              .entry-content
                %div{:style => "float:left;"}
                  %img{:width=>"150" , :height => "75",:src=>car_obj.image}
                %div{:style => "margin-left:30px;float:left;"}
                  %ul
                    %li.lastadded
                      %strong> Make:
                      =car_obj.make
                    %li.lastadded
                      %strong> Model:
                      =car_obj.model
                    %li.lastadded
                      %strong> Year:
                      =car_obj.year_info
                    %li.lastadded
                      %strong> Price:
                      =car_obj.price
                      TL / Year
                .clear
      %aside.sidebar-right
        .widget
          %h3.widget-title
            %img{:alt => "lamp", :src => "assets/lamp.png"}
            Social Media
          .widget-content
            %a{:href => "http:www.facebook.com"}
              %img{:alt => "Facebook", :src => "assets/fb-social.png"}
            %a{:href => "http:www.twitter.com"}
              %img{:alt => "Twitter", :src => "assets/tw-social.png"}
            %a{:href => "http:plus.google.com"}
              %img{:alt => "Google Plus", :src => "assets/gplus-social.png"}
            %a{:href => "http:www.linkedin.com"}
              %img{:alt => "Linkedin", :src => "assets/in-social.png"}
            %a{:href => "http:www.skype.com"}
              %img{:alt => "Skype", :src => "assets/skype-social.png"}
        .widget
          %h3.widget-title
            %img{:alt => "", :src => "assets/lamp.png"}
            Car Brands
          %ul
            -@index=0
            -@brands.each do |brand|
              -if @index%2==0
                %li.even
                  %a{:href => "#", :title => ""}
                    =brand
              -else
                %li.odd
                  %a{:href => "#", :title => ""}
                    =brand
              -@index += 1
      .clear
    .clear
  =render :partial => 'general/footer'